<extend name="Layouts/main"/>

<block name="content-wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {$meta_title}
                <small>填写文章分类信息</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('admin') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="{:U('PostTab/lists')}">文章管理</a></li>
                <li class="active">{$meta_title}</li>
            </ol>
        </section>

        <section class="content">
            <div class="box box-primary">
                <form role="form" action="{:U('PostTab/create')}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputName">标签名称</label>
                            <input type="text" name="tab_name" class="form-control" id="inputName" value="{$tab_name}">
                            <p class="help-block">请输入标签名称，字数在2－20之间</p>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label>排序</label>-->
                            <!--<div class="input-group">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-btn sort-dec">-->
                                        <!--<button type="button" class="btn btn-primary">-</button>-->
                                    <!--</span>-->
                                    <!--<input style="width: 100px; text-align: center;" type="text"-->
                                           <!--name="sort" value="{$sort}" class="form-control rate initialized"-->
                                           <!--placeholder="排序">-->
                                    <!--<span class="input-group-btn sort-inc">-->
                                        <!--<button type="button" class="btn btn-success">+</button>-->
                                    <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="box-footer">
                            <input type="hidden" name="id" value="{$id}"/>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</block>

<block name="js">
    <script>
        // 错误提示信息
        if ('{$Think.cookie.errors}' != '') {
            var errors = '{$Think.cookie.errors}';
            errors = JSON.parse(errors);
            if ('name' in errors) {
                $('#inputName').parent().addClass('has-error');
                $('#inputName').next().html(errors.name);
            }
        }

        // 排序自增自减

        $('.sort-dec').click(function () {
            var sortNum = $(this).next().val();
            if (isNaN(sortNum)) {
                sortNum = 0;
            }
            if (sortNum > 1) {
                sortNum = parseInt(sortNum) - 1;
                $(this).next().val(sortNum);
            } else {
                $(this).next().val(1);
            }
        });
        $('.sort-inc').click(function () {
            var sortNum = $(this).prev().val();
            if (sortNum === '') {
                $(this).prev().val(1);
            } else {
                sortNum = parseInt(sortNum) + 1;
                $(this).prev().val(sortNum);
            }
        });
    </script>
</block>